$colors: (
  red: red,
  white: white,
  lightGray: #f4f4f4,
  orange: #E6A23C,
  lightGreen: #98d87d,
  borderGray: #dadada,
  gray: #999999,
  black: #000000
);
$directions-level: (
  left: left,
  center: center,
  right: right
);